html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: url("/static/images/wallhaven-3qlqv3.jpg") center/cover no-repeat fixed;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

main {
    place-items: center;
    background-color: rgba(166, 166, 166, 0.5);
    height: 30%;
    min-width: 25%;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
    padding: 5px;
}
.login-form{
    grid-row: 1/2;
}
.password-form{
    grid-row: 2/3;
}
.login-form input{
    min-width: 170px;
}
.password-form input{
    min-width: 170px
}
.sign-up{
    border-radius: 15px;
    grid-row: 3/4;
}
