@font-face {
    font-family: 'JetBrains Mono';
    src: url("../fonts/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 1rem;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 55px;
    background-color: white;
}

header img {
    position: absolute;
    top: -44px;
    height: 150px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    align-items: center;
    height: 100%;
    overflow-wrap: break-word;
    word-break: break-word;

}

header nav a {
    font-size: 18px;
    color: black;
    font-family: Inter;
    text-decoration: none;
    font-weight: normal;
    cursor: pointer;

    &:hover,
    &:active,
    &:visited {
        color: black;
        text-decoration: none;
    }

    overflow-wrap: break-word;
    word-break: break-word;
}

header nav button {
    display: flex;
    background-color: white;
    width: 30px;
    align-items: center;
    height: 30px;
    border: none;
    transition: background-color 0.3s ease;
}

header nav button:hover {
    background-color: #808080; 
}

main {
    flex: 1;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem;
    display: grid;
    grid-template-rows: 20% 20% 60%;
    justify-items: center;
    align-items: center;
    grid-template-columns: 100%;
}

main h1 {
    font-size: 70px;
    color: white;
    font-family: 'JetBrains Mono', monospace;
    overflow-wrap: break-word;
    word-break: break-word;
}

main img {
    width: 490px;
    height: 260px;
}

main .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    overflow-wrap: break-word;
    word-break: break-word;
}

main .cards .card {
    width: 300px;
    min-height: 300px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    font-size: 35px;
    padding: 20px;
    overflow-wrap: break-word;
    word-break: break-word;
}

footer {
    text-align: center;
    height: 55px;
    overflow-wrap: break-word;
    word-break: break-word;
    background-color: #a2a2a2;
}

@media (max-width: 480px) {
    header {
        padding: 1rem;
        flex-direction: row;
        position: sticky;
        top: 0;
        z-index: 100;
        height: 55px;
        background-color: white;
    }

    header img {
        position: absolute;
        top: -44px;
        height: 150px;
    }

    header nav a {
        display: none;
    }

header nav button {
    display: flex;
    background-color: white;
    width: 30px;
    align-items: center;
    height: 30px;
    border: none;
    transition: background-color 0.3s ease;
}

header nav button:hover {
    background-color: #808080;/
}
    main h1 {
        font-size: 26px;
        color: white;
        font-family: 'JetBrains Mono', monospace;
    }

    main img {
        position: relative;
        top: -30px;
        width: 490px;
        height: 115px;
        left: -11px;
    }

    main .cards {
        position: relative;
        display: grid;
        top: -73px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    main .cards .card {
        width: 200px;
        min-height: 200px;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        font-size: 25px;
        padding: 20px;
          overflow-wrap: break-word;
  word-break: break-word;
    }
}
